body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

form {
  width: 350px;
  margin: 80px auto;
  padding: 50px;
  background: white;
  border-radius: 6px;
  
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}



input[type="submit"] {
  background:black;
  color: white;
  border: none;
  cursor: pointer;
}

