  ul {
      display: flex;
      list-style: none;
      gap: 40px;
      margin: 0;
      padding: 0;
  }

  ul a {
      text-decoration: none;
      color: black;
      text-decoration: none;
      font-size: 18px;
      color: #333;
      transition: color 0.3s ease;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




  .header {
      position: sticky;
      top: 0;
      z-index: 1000;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 15px 40px;
      background-color: white;
      border-radius: 12px;
  }

  .logo {
      font-size: 26px;
      font-weight: bold;
      color: #333;
  }

  

  



  ul a:hover {
      color:red;
  }





  .slider {
      position: relative;
    width: 100%;
    max-height: calc(100vh - 80px); 
    overflow: hidden;
  }

  .slider img {
      width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .slider button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.6);
      color: white;
      border: none;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
  }

  .prev {
      left: 10px;
  }

  .next {
      right: 10px;
  }

.footer {
  background-color: #111;
  color: #ddd;
  padding: 50px 30px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer h2 {
  color: #fff;
  margin-bottom: 15px;
}

.footer h4 {
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: #bbb;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #bbb;
  transition: color 0.3s ease;
}

.footer ul li:hover {
  color: #00bcd4;
}

.section1,
.sec2,
.sec3,
.sec4 {
  max-width: 250px;
}

.sec4 {
  font-size: 20px;
  color: #bbb;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer ul {
  display: block;
}


.section2{
    background-image: url("https://images.pexels.com/photos/2245411/pexels-photo-2245411.jpeg?cs=srgb&dl=pexels-daniel-jurin-358265-2245411.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}



  .section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  border: 1px solid black;
  background-image: url("https://media.istockphoto.com/id/1318363878/photo/luxury-modern-bedroom-interior-at-night.jpg?s=612x612&w=0&k=20&c=riYXhwiUWYzqv7iA060mb14a5b7QdjZhUeqoyNoyyts=");
   background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;


}

.facilities {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;   /* allows wrapping */
  justify-content: center;
}

.section3 .facilities div {
  height: 150px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
.section-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  text-transform: capitalize;
  color: #000;
}

.section4 {
  padding: 80px 0;
  width: 100%;
  text-align: center;
  background-color: #f8f9fa;
}

.blog-title {
  font-size: 50px;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.blog {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.blog-card {
  width: 350px;
  background-color: white;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.blog-card h3 {
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}


/* .features p{
    text-align: center;
    font-size: 40px;
}
.features {
    margin-top: 30px;
    margin-bottom: 90px;
}

.features .div1{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.div1 i{
    font-size: 90px;
    color: rgba(255, 0, 0, 0.267);
}
.div1 span p{
    font-size: 30px;
}

.features .div2{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 40px;
}

.div2 i{
    font-size: 90px;
    color: rgba(255, 0, 0, 0.267);
}
.div2 span p{
    font-size: 30px;
} */